@font-face {
  src: url(/asset/fonts/Mulish/static/Mulish-Regular.ttf);
  font-family: Mulish;
}
:root {
  --primary-color: #1968FC;
  --second-color: #000000;
}
body {
font-family: Mulish;
}

/* -------------------HEADER-MENU--------------------- */
/* ---------------------------------------------- */

.container {
  width: 1120px;
  margin: 0 auto;
  margin-top: 30px;
}

.logo-link {
  display: block;
  font-size: 20px;
  margin-left: 4%;
  color: var(--primary-color);
}

.logo {
  vertical-align: middle;
}

nav {
  display: flex;
  justify-items: center;
}

.main-menu {
  display: flex;
  justify-items: flex-end;
  margin-left: 17%;
}

.items {
  margin-top: 20px;
  margin-left: 53px;
}

.items-link {
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.items-link:hover {
  color: var(--primary-color);
}

.btn {
  font-weight: 100;
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 13px 13px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:hover {
  color: #ffffff;
  background-color: #1750bb;
}

/* --------------------------FOOTER-------------------- */
/* -------------------------------------------------------- */

.footer {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  background-color: #FBFBFB;
}

.logo-footer {
  margin-top: 5%;
  margin-left: 35px;
  font-size: 11px;
}

.logo-footer span {
  color: #1968FC;
  background-color: #5e94f859;
  padding: 7px;
  padding-bottom: 8px;
  margin-right: 0;
}

.small {
  width: 30px;
  height: 30px;
}

.footer-items {
  display: flex;
  margin-left: 16%;
}

.footer-list li {
  margin: 0 9px;
}

.text{
  display: block;
  font-size: 13px;
  color: var(--second-color);
  padding-top: 55px;
  padding-left: 40px;
}

.text:hover {
  color: #1968FC;
}

.icons {
  display: block;
  padding-left: 30px;
}

.suporter {
  display: block;
}

/* ----------------BANNER------------------------- */
/* -------------------------------------------------- */

.banner {
  position: relative;
  width: 1120px;
  margin: auto;
}

.heading-banner {
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 40px;
  margin-left: 35px;
  margin-top: 10%;
}

.subtext-banner {
  width: 390px;
  font-size: 13px;
  line-height: 20px;
  margin-left: 35px;
  margin-top: 20px;
}

.button-banner {
  outline: none;
  border: none;
  background: transparent;
  color: #ffffff;
  background-color: var(--primary-color);
  padding: 13px 25px;
  margin-top: 40px;
  margin-left: 35px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-banner:hover {
  cursor: pointer;
  background-color: #1750bb;
}

.symbol {
  position: absolute;
  top: 27%;
  left: 32%;
}

/* ------------TESTIMONIAL------------------- */
/* ----------------------------------------------- */

.test-wrapper {
  width: 360px;
  margin: 5% 17%;
  margin-top: 7%;
  margin-left: 11%;
  padding: 40px;
  box-shadow: 0px 10px 20px 10px #f4f7ff;
}

.test-info {
  display: flex;
  height: 60px;
  align-items: center;
}

.test-pic {
  margin-right: 15px;
  filter: grayscale(100%);
  transition: filter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.test-pic:hover {
  cursor: pointer;
  filter: grayscale(0);
}

.test-name {
  font-size: 13px;
  line-height: 25px;
  color: var(--second-color);
}

.job {
  color: var(--primary-color);
}

.test-name span {
  display: block;
}

.test-work {
  width: 350px;
  font-size: 13px;
  line-height: 20px;
}